.container {
  min-height: 100vh;
  max-width: 90vw;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
}

.login_container {
  margin: 20vh auto;
  width: 50vw;
}

.header {
  border-bottom: solid 2px #6C757D;
}

.app_title {
  margin: 0
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.format {
  margin: 10px 10px 5px;
}

.full_width {
  width: 100%;
}

.heading_block, .content_block {
  margin: 20px auto 10px;
  width: 100%;
}

.links:hover {
  text-decoration: none;
}

.column_headers {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: solid 1px #6C757D;
  text-align: center;
}

.upvote {
  border-radius: 50%;
}

.sortbutton {
  border-radius: 50%;
  font-size: 10px;
  padding: 2px 3px;
  text-align: center;
  background-color: transparent;
  color: #000000;
  font-weight: bold;
  border: none;
  outline:none;
}

.sortbutton:hover, .sortbutton:active, .sortbutton:focus {
  background-color: transparent;
  color: #000000;
  border: none;
  outline:none;
}

.challenge_block {
  margin: 15px auto;
}

.error {
  margin: 10px auto;
  font-size: 12px;
  color: red;
  font-weight: bold;
}
