.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  border-bottom: solid 2px #6C757D;
}

.app_title {
  margin: 0
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.format {
  margin: 10px 10px 5px;
}

.heading_block, .content_block {
  margin: 20px auto;
}

.links:hover {
  text-decoration: none;
}

.column_headers {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: solid 1px #6C757D;
  text-align: center;
}

.upvote {
  border-radius: 50%;
}
